<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>it-explorer</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'media/icon.png' %}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>it-explorer</h1>
    </header>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Главная</a></li>
                <li><a href="{% url 'general' %}" class="{% if request.path == '/general/' %}active{% endif %}">Общая статистика</a></li>
                <li><a href="{% url 'demand' %}" class="{% if request.path == '/demand/' %}active{% endif %}">Востребованность</a></li>
                <li><a href="{% url 'geography' %}" class="{% if request.path == '/geography/' %}active{% endif %}">География</a></li>
                <li><a href="{% url 'skills' %}" class="{% if request.path == '/skills/' %}active{% endif %}">Навыки</a></li>
                <li><a href="{% url 'latest_vacancies' %}" class="{% if request.path == '/latest_vacancies/' %}active{% endif %}">Последние вакансии</a></li>
            </ul>
        </nav>
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <p>Безнутров Александр Дмитриевич - РИ-230942</p>
    </footer>
</body>
</html>