{% extends 'base.html' %}
{% block content %}
<h1>Общая статистика</h1>
<section>
    <h2>{{ salary_trends.title }}</h2>
    {{ salary_trends.table_data|safe }}
    <img src="{{ salary_trends.graph.url }}" alt="{{ salary_trends.title }}">
</section>
<section>
    <h2>{{ vacancy_trends.title }}</h2>
    {{ vacancy_trends.table_data|safe }}
    <img src="{{ vacancy_trends.graph.url }}" alt="{{ vacancy_trends.title }}">
</section>
<section>
    <h2>{{ salary_by_city.title }}</h2>
    {{ salary_by_city.table_data|safe }}
    <img src="{{ salary_by_city.graph.url }}" alt="{{ salary_by_city.title }}">
</section>
<section>
    <h2>{{ vacancy_share_by_city.title }}</h2>
    {{ vacancy_share_by_city.table_data|safe }}
    <img src="{{ vacancy_share_by_city.graph.url }}" alt="{{ vacancy_share_by_city.title }}">
</section>
<section>
    <h2>{{ top_skills.title }}</h2>
    {{ top_skills.table_data|safe }}
    <img src="{{ top_skills.graph.url }}" alt="{{ top_skills.title }}">
</section>
{% endblock %}