{% extends 'base.html' %}
{% block content %}
{% if vacancies %}
    {% for vacancy in vacancies %}
    <section class="vacancy">
        <div class="vacancy-header">
            <h2 class="vacancy-title">{{ vacancy.name }}</h2>
            <p class="vacancy-salary">{{ vacancy.salary }}</p>
        </div>
        <p class="vacancy-company">{{ vacancy.company }}, {{ vacancy.region }}</p>
        <p class="vacancy-skills">{{ vacancy.skills }}</p>
        <p class="vacancy-description">{{ vacancy.description|safe }}</p>
        <div class="vacancy-footer">
            <p class="vacancy-date">Дата публикации: {{ vacancy.published_at }}</p>
        </div>
    </section>
    {% endfor %}
{% else %}
    <p>Нет вакансий за последние 24 часа.</p>
{% endif %}
{% endblock %}