<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FrontendPro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>FrontendPro</h1>
    </header>
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'statistics' %}">Общая статистика</a></li>
                <li><a href="{% url 'demand' %}">Востребованность</a></li>
                <li><a href="{% url 'geography' %}">География</a></li>
                <li><a href="{% url 'skills' %}">Навыки</a></li>
                <li><a href="{% url 'latest_vacancies' %}">Последние вакансии</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <p>ФИО Студента - Академическая группа</p>
    </footer>
</body>
</html>