{% extends 'base.html' %}

{% block content %}
    <h2>Последние вакансии</h2>
    <ul>
        {% for vac in vacancies %}
            <li>
                <h3><a href="{{ vac.url }}" target="_blank">{{ vac.title }}</a></h3>
                <p><strong>Компания:</strong> {{ vac.company }}</p>
                <p><strong>Оклад:</strong> {{ vac.salary }}</p>
                <p><strong>Регион:</strong> {{ vac.region }}</p>
                <p><strong>Дата публикации:</strong> {{ vac.published_at }}</p>
                <p><strong>Описание:</strong> {{ vac.description|safe }}</p>
                <p><strong>Навыки:</strong> {{ vac.skills }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
